docs/* linguist-documentation=false

# *.ipynb linguist-language=python
*.ipynb linguist-detectable=false
*.sql linguist-detectable=true

brfss_eda.html linguist-documentation=true
gss_inference.html linguist-documentation=true
multiple_linear_regression.html linguist-documentation=true

"Life[:space:]on[:space:]A4.html" linguist-documentation=true
