# *.ipynb linguist-language=python
*.ipynb -linguist-detectable

C01_brfss_eda.html linguist-documentation
C01_gss_inference.html linguist-documentation
C01_multiple_linear_regression.html linguist-documentation
W02_Life_on_A4.html linguist-documentation
