docs/* linguist-documentation=true

# *.ipynb linguist-language=python
*.ipynb linguist-detectable=false
*.sql linguist-detectable=true
*.Rmd linguist-language=r

brfss_eda.html linguist-documentation=true
gss_inference.html linguist-documentation=true
multiple_linear_regression.html linguist-documentation=true
logistic_mle_classification.html linguist-documentation=true

"Life[:space:]on[:space:]A4.html" linguist-documentation=true
